<h4>Search for Travel</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <!--The div element for the map -->
            <div id="map"></div>
        </div>
        <!--Map Section-->
        <div class="col">
            <h3>How it Works</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Select your desired starting location(s) and save.</li>
                <li class="list-group-item">Select your desired destinations and save.</li>
                <li class="list-group-item">Adjust filters for flight preferences and search.</li>
              </ul>
        </div>
    </div>
    <!--Table Section-->
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <th>FROM</th>
                </thead>
                <tbody>
                    <tr>
                        <td>LGA</td>
                    </tr>
                    <tr>
                        <td>JFK</td>
                    </tr>
                    <tr>
                        <td>EWR</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <th>TO</th>
                </thead>
                <tbody>
                    <tr>
                        <td>ORD</td>
                    </tr>
                    <tr>
                        <td>RVA</td>
                    </tr>
                    <tr>
                        <td>PDX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col mx-auto d-grid gap-2">
            <button class="btn btn-primary" type="button">Button Text</button>
        </div>

    </div>

    
</div>